thead {
  background-color: gray;
  font-size: 15px;
}

tbody > tr > th, thead > tr > th {
  padding: 9px;
}


table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  font-weight: normal;
  border: 1px solid rgba(114, 114, 114, 0.623);
}

div.Table-Mobile {
  @media (min-width: 720px) {
    display: none;
  }
  display: block;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: auto;
}
