div.table-results-page {
  min-height: 500px;

  table {
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    border: none;
    border-radius: 20px;
    border-collapse: collapse;
  
    @media (max-width: 720px) {
      font-size: 12px;
    }
  
    thead {
      background-color: #5b7cff;
      color: white;
      font-size: 15px;
    }
  
    
    tbody > tr > th, thead > tr > th {
      padding: 14px;
    }
  }
}


