div.DisplayNames {
  // border: 1px solid rgba(114, 114, 114, 0.623);
  background-color: rgb(201, 201, 201);
  border-radius: 29px;
  display: flex;
  flex-direction: row;
  width: min-content;
  padding: 5px;
  cursor: default;
}

div.DisplayName {
  padding: 14px;
  background-color: rgb(201, 201, 201);
  width: min-content;
  border-radius: 24px;
  font-weight: bold;
  color: rgb(122, 122, 122);
}

div.DisplayName.active {
  background-color: white;
  color: #2556B1;
}

a {
  color: black;
  text-decoration: none;
}