div.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;

  table {
    margin: 50px auto;
    width: 90vW;
    tr {
      border: 1px solid rgba(114, 114, 114, 0.623);
      height: 24px;
    }
    border: none;
  }
}

button.ButtonCloseModal {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 40px;
}